$color: var(--text-color);
$background: var(--background-color);
$primary-reverse: var(--primary-reverse);
$primary-color: var(--primary-color);
$container-width: 95%;

:root[data-theme="light"] {
	--background-color: #212042;
	--text-color: #1c1e21;
	--primary-color: #1c1e21;
	--primary-reverse: #fff;
}

:root[data-theme="dark"] {
	--background-color: #212042;
	--text-color: #f5f6f7;
	--primary-color: #fff;
	--primary-reverse: #1c1e21;
}

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
	$k: calc(($f-max - $f-min) / ($v-max - $v-min));
	$b: $f-min - $k * $v-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}
